.skeleton{
  width: 100%;
  height: 100%;
  position: relative;
}

.skeleton > * {
  background-color: #e5e7eb;
  position: absolute;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(270deg, transparent, rgba(255, 255, 255, 0.9) 50%, transparent 100%);
    background-repeat: no-repeat;
    opacity: 0.5;
    animation: skeleton 1.6s linear 0.5s infinite;
    transform: translateX(-100%);
  }
}

@keyframes skeleton {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(100%);
  }
}
